.containerDiv {
    width: 100%;
    text-align: center;
    color: #27313a;
    font-family: "MontserratRegular";
    font-size: 20px;
}

.right {
    width: 49%;
    float: right;
    margin-top: 15%;
}

.left {
    width: 49%;
    float: left;
}

.salutation {
    font-family: "PT_Sans_Caption";
    color: #27313a;
    font-size: 30px;
    padding: 0.5%;
    margin-top: 10%;
}


/* Full-width input fields */

input[type=text],
textarea {
    width: 70%;
    font-family: "MontserratRegular";
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #00a19c;
    resize: none;
}


/* Set a style for all buttons */

input[type=submit] {
    background-color: #00a19c;
    color: #eeeeee;
    padding: 14px 14px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

input[type=submit]:hover {
    opacity: 0.8;
}

a {
    text-decoration: none;
    color: #00a19c;
}

a:visited {
    color: #27313a;
}

a:hover {
    opacity: 0.8;
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}