* {
    box-sizing: border-box;
}

.headerbackround {
    background-color: #52525269;
    height: 60px;
    margin-bottom: 100px;
}

.header {
    background-color: #27313a;
    padding: 7px;
    margin-left: 0px;
    margin-right: 0px;
}

.header a.logo {
    background-color: #27313a;
    padding: 12px 8px;
    border-radius: 4px;
    margin-left: 0px;
}

.header a {
    background-color: #27313a;
    float: left;
    color: #00a19c;
    font-family: 'Domine', serif;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    margin-left: 2px;
    margin-right: 2px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.header a:hover {
    background-color: #cccccc;
    color: black;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}