* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "MontserratRegular";
}

header {
    height: 25vh;
    margin-bottom: 2vh;
}

@media (max-width: 720px) {
    .top_header a {
        padding-right: 2vh;
        font-size: 20px;
    }
    .bottom_header .search-container {
        display: none;
    }
    .bottom_header .btn {
        padding: 3px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 5vw;
    }
}

@media (min-width: 721px) {
    .top_header a {
        padding-right: 2vh;
        font-size: 18px;
    }
    .bottom_header {
        padding-left: 15%;
        padding-right: 15%;
    }
    .bottom_header .btn {
        padding-left: 2vw;
        font-size: 2.5vh;
    }
}

.top_header {
    background-color: #27313a;
    height: 18%;
    width: 100%;
}

.top_header a {
    float: right;
    text-decoration: none;
    color: #00a19c;
    padding-top: 0.5vh;
}

.middle_header {
    background-color: #ffffff;
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle_header a img {
    height: 11vh;
}

.bottom_header {
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.bottom_header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom_header .btn {
    height: 100%;
    text-decoration: none;
    color: #27313a;
    background-color: inherit;
    font-family: inherit;
}

.btn_active {
    height: 100%;
    text-decoration: none;
    background-color: inherit;
    font-family: inherit;
    font-size: 22px;
    padding-left: 1.9vw;
}

.bottom_header .btn .tp10 {
    border: none;
    background-color: inherit;
    outline: none;
    font-family: "MontserratRegular";
    font-size: inherit;
}

.bottom_header .btn .tp10_active {
    border: none;
    background-color: inherit;
    outline: none;
    font-family: "MontserratRegular";
    font-size: 22px;
    color: #00a19c;
}

.bottom_header .top10 {
    position: relative;
}

.bottom_header .top10 ul {
    position: absolute;
    margin-top: 5px;
    background: white;
    width: 160px;
    height: 90px;
    display: flex;
    flex-direction: column;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    z-index: 1000;
    padding-right: 45px;
    transform: translateY(-10px);
}

.bottom_header .top10 ul li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_header .top10 ul a:hover {
    color: #00a19c;
}

.bottom_header .top10 ul a {
    color: #27313a;
    text-decoration: none;
}

.bottom_header .top10 .tp10:focus+ul,
.bottom_header .top10 .tp10_active:focus+ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.btn_active,
.btn:hover,
.tp10:hover {
    color: #00a19c;
}

.bottom_header .search-container {
    margin-left: auto;
}

.bottom_header .search-container form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bottom_header .search-container input[type=submit] {
    border: none;
    outline: none;
    height: 6vh;
    width: 3vw;
    cursor: pointer;
    background-image: url("../icons/search.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 4vh;
}

.bottom_header .search-container input[type=text] {
    font-family: "MontserratRegular";
    font-size: 2.5vh;
    height: 6vh;
    padding-left: 8px;
    border: none;
    outline: none;
}