* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "MontserratRegular";
}

header {
    height: 230px;
    width: 100%;
}

@media (max-width: 1000px) {
    header .top_header a {
        float: right;
        padding-right: 10px;
        font-size: 12px;
        padding-top: 1%;
    }
    header .bottom_header .btn {
        font-size: 14px;
        padding: 14px;
    }
    header .bottom_header .search-container img,
    header .bottom_header .search-container input {
        display: none;
    }
    header .bottom_header button {
        display: none;
    }
}

.top_header {
    background-color: #27313a;
    height: 15%;
    width: 100%;
    padding-right: 2%;
}

.top_header a {
    float: right;
    text-decoration: none;
    color: #00a19c;
    padding-right: 15px;
    font-size: 20px;
    padding-top: 3px;
}

.middle_header {
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    height: 60%;
}

.middle_header a img {
    padding: 30px;
    height: 140px;
}

.bottom_header {
    background-color: #ffffff;
    height: 25%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    padding-top: 13px;
}

.btn {
    outline: none;
    text-decoration: none;
    color: #27313a;
    font-size: 25px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-bottom: none;
    padding: 13px;
    margin-left: -5px;
}

.active,
.btn:hover {
    color: #00a19c;
}

.bottom_header .search-container {
    float: right;
    display: inline-flex;
    margin-top: -14px;
}

.bottom_header .search-container input[type=image] {
    height: 45px;
    padding: 5px;
    padding-top: 7px;
    margin-bottom: -15px;
}

.bottom_header .search-container input[type=text] {
    font-family: "MontserratRegular";
    font-size: 16px;
    height: 58px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    padding-left: 8px;
}

.bottom_header .search-container button:hover {
    background-color: #dddddd;
    border-style: solid;
    border-color: #dddddd;
}