main {
    padding: 0% 3%;
    margin-bottom: 70px;
    display: flexbox;
}

@media (max-width: 1000px) {
    main .new .info p {
        display: none;
    }
    main .new .info .published {
        display: none;
    }
    main .new .title a {
        font-size: 13px;
        padding: 8px;
        width: 100%;
    }
    main .new .title {
        top: 18%;
    }
}

.new {
    float: left;
    width: 49%;
    margin-right: 1%;
    text-align: center;
    position: relative;
    padding-top: 1%;
}

.new img {
    width: 100%;
    padding-top: 0;
}

.new .info {
    position: absolute;
    bottom: 4px;
    background-color: #27313a;
    opacity: 0.7;
    width: 100%;
}

.new .info p {
    font-family: "PT_Sans_Caption";
    font-size: 22px;
    color: #00a19c;
}

.new .info .published {
    font-family: "MontserratRegular";
    font-size: 18px;
    color: #006B67;
}

.new .title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 55px;
    background-color: #27313a;
    opacity: 0.8;
}

.new .title a {
    text-decoration: none;
    font-size: 33px;
    font-family: "Offside";
    color: #00a19c;
    opacity: 1;
    padding: 20px;
}

.new:hover .title,
.new:hover .info {
    opacity: 1;
    transition: .6s;
}


/* width */

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #27313a;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #00a19c;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #00a19c;
}