.content_wrap {
    min-height: 90vh;
}

@media (max-width: 1000px) {
    .news_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1%;
        ;
    }
    .new {
        max-width: 95%;
    }
    .new img {
        width: 100%;
    }
    .new .title {
        position: absolute;
        text-align: center;
        width: 93%;
        margin-top: 1%;
        background-color: #27313a;
    }
    .new .title a {
        text-decoration: none;
        font-size: 20px;
        font-family: "Offside";
        color: #00a19c;
        padding: 20px;
        padding-top: 0px;
    }
    .new .info {
        position: absolute;
        background-color: #27313a;
        opacity: 0.9;
        width: 93%;
        margin-top: -69px;
    }
    .new .info p {
        font-family: "PT_Sans_Caption";
        font-size: 12px;
        color: #00a19c;
    }
    .new .info .published {
        font-family: "MontserratRegular";
        font-size: 9px;
        color: white;
    }
}

@media (min-width: 1001px) {
    .news_container {
        padding: 0% 2%;
        display: inline-flex;
        flex-wrap: wrap;
    }
    .new {
        float: left;
        width: 49%;
        margin-right: 1%;
        text-align: center;
        position: relative;
        padding-top: 1%;
    }
    .new img {
        width: 100%;
        padding-top: 0px;
    }
    .new .title {
        position: absolute;
        margin-top: 1%;
        text-align: center;
        width: 100%;
        background-color: #27313a;
        opacity: 0.8;
    }
    .new .title a {
        text-decoration: none;
        font-size: 33px;
        font-family: "Offside";
        color: #00a19c;
        opacity: 1;
        padding: 20px;
        padding-top: 0px;
    }
    .new .info {
        position: absolute;
        bottom: 4px;
        background-color: #27313a;
        opacity: 0.7;
        width: 100%;
        padding-top: 0px;
    }
    .new .info p {
        font-family: "PT_Sans_Caption";
        font-size: 22px;
        color: #00a19c;
    }
    .new .info .published {
        font-family: "MontserratRegular";
        font-size: 18px;
        color: white;
    }
    .new:hover .title,
    .new:hover .info {
        opacity: 1;
        transition: .6s;
    }
}


/* width */

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #27313a;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #00a19c;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #00a19c;
}