.title {
    font-family: "PT_Sans_Caption";
    color: #27313a;
    font-size: 55px;
    text-align: center;
    padding: 0.5%;
    margin: 0 4%;
}

.title p {
    font-family: "MontserratRegular";
    font-size: 20px;
}

@media (max-width: 720px) {
    .title {
        font-size: 30px;
    }
    .title p {
        font-size: 15px;
    }
    .article {
        display: grid;
        width: 90%;
    }
    .image img {
        width: 100%;
    }
}

@media (min-width: 721px) {
    .image img {
        width: 50%;
    }
}

.prove {
    display: grid;
}

.article {
    display: flexbox;
    justify-content: flex-start;
    margin-left: 5%;
    margin-right: 5%;
}

.image img {
    float: left;
    margin-right: 1%;
}

.content p {
    font-family: "MontserratRegular";
    font-size: 17px;
    line-height: 1.7;
    text-align: justify;
    text-justify: inter-word;
}

.creation {
    font-family: "MontserratRegular";
    font-size: 14px;
    color: #27313a;
}

.comments {
    margin: 1% 5%;
}

.comments input[type=image] {
    height: 35px;
}

.comments .singular {
    padding-left: 1px;
    background-color: #eeeeee;
}

.comments h5 {
    font-family: "MontserratRegular";
    font-size: 18px;
}

.comments p {
    font-family: "MontserratRegular";
    font-size: 16px;
    margin-top: -15px;
}

.makecomment textarea {
    background-color: #eeeeee;
    font-family: "MontserratRegular";
    font-size: 16px;
    border: none;
}

.submitComment {
    background-color: #00a19c;
    color: #eeeeee;
    text-align: center;
    padding: 14px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 150px;
}