@media (max-width: 720px) {
    .status {
        font-size: 16px;
        color: red;
        margin-top: -15px;
        margin-bottom: -15px;
    }
    .sectionAll {
        padding: 8px;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "MontserratRegular";
        width: 100%;
        color: #27313a;
    }
    .rightSection {
        font-family: "MontserratRegular";
        font-size: 18px;
        text-align: center;
        text-justify: auto;
        color: teal;
    }
    .leftSection ul {
        width: 80%;
        font-size: 13px;
    }
    input[type=email],
    input[type=password],
    input[type=text],
    input[type=date],
    input[type=number] {
        width: 90%;
        color: #27313a;
        padding: 12px 16px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #00a19c;
    }
    table {
        margin-bottom: -30px;
    }
    .buttons {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .registrationButton,
    .resetButton {
        background-color: #00a19c;
        color: #eeeeee;
        padding: 14px 14px;
        border: none;
        cursor: pointer;
        width: 150px;
    }
    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }
        .cancelbtn {
            width: 100%;
        }
    }
}

@media (min-width: 721px) {
    .status {
        padding-top: 4%;
        font-size: 22px;
        color: red;
        margin-bottom: -60px;
    }
    .sectionAll {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        font-family: "MontserratRegular";
        width: 100%;
        color: #27313a;
    }
    .rightSection {
        margin-top: 40px;
        width: 35%;
        text-align: center;
        font-size: 20px;
    }
    .rightSection p {
        font-size: x-large;
        line-height: 150%;
        font-weight: bolder;
        color: teal;
        border: 1px solid #00a19c;
        padding: 5px;
        background-color: #eeeeee;
    }
    .leftSection {
        padding-left: 2%;
        width: 60%;
        font-size: 20px;
    }
    .salutation {
        font-family: "PT_Sans_Caption";
        color: #27313a;
        margin-left: 10%;
        font-size: 55px;
        padding: 0.5%;
        margin-top: 10%;
    }
    .leftSection ul {
        font-size: 12px;
    }
    input[type=email],
    input[type=password],
    input[type=text],
    input[type=date],
    input[type=number] {
        width: 90%;
        color: #27313a;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #00a19c;
    }
    table {
        margin-bottom: -40px;
    }
    .buttons {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .registrationButton,
    .resetButton {
        background-color: #00a19c;
        color: #eeeeee;
        padding: 14px 14px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 150px;
    }
    .registrationButton:hover,
    .resetButton:hover {
        opacity: 0.8;
    }
}