.sectionAll {
    font-family: "MontserratRegular";
    width: 100%;
    color: #27313a;
}

.rightSection {
    width: 49%;
    text-align: center;
    font-family: "MontserratRegular";
    font-size: 20px;
}

.leftSection {
    width: 49%;
    padding-left: 5%;
    text-align: left;
    font-family: "MontserratRegular";
    font-size: 20px;
}

.rightSection p {
    font-family: "MontserratRegular";
    font-size: xx-large;
    text-align: left;
    line-height: 150%;
    font-weight: bolder;
    padding-top: 30%;
    color: teal;
}

.salutation {
    font-family: "PT_Sans_Caption";
    color: #27313a;
    margin-left: 10%;
    font-size: 55px;
    padding: 0.5%;
    margin-top: 10%;
}

input[type=email],
input[type=password],
input[type=text],
input[type=date],
input[type=number] {
    width: 70%;
    font-family: "MontserratRegular";
    color: #27313a;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #00a19c;
}

label {
    font-family: "MontserratRegular";
}


/* Set a style for all buttons */

.registrationButton {
    background-color: #00a19c;
    color: #eeeeee;
    padding: 14px 14px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

.registrationButton:hover {
    opacity: 0.8;
}

.resetButton {
    background-color: #00a19c;
    color: #eeeeee;
    padding: 14px 14px;
    margin: 8px 0;
    margin-left: 10%;
    border: none;
    cursor: pointer;
    width: 30%;
}

.resetButton:hover {
    opacity: 0.8;
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}