<html>

<body>
    <div class="container">
        <h1 style="text-align: center;">Legal Disclosure</h1>

        Information in accordance with Section 5 TMG
        <br><br> Altonaer Str. 25<br> 99085 Erfurt<br>

        <h2>Contact Information</h2>

        Telephone: 0361 67000<br> E-Mail: <a href="mailto:taketec_support@gmail.com">taketec_support@gmail.com</a><br>

        <h2>Graphics and Image Sources</h2>

        https://ww.9to5google.com/<br />

        <br /> https://ww.9to5mac.com/

        <br><br>

        <h2>Disclaimer</h2>
        <strong>Accountability for content</strong>
        <br> The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents' accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these
        web pages. In this matter, please note that we are not obliged to monitor the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity. Our obligations to remove or block the use of information
        under generally applicable laws remain unaffected by this as per §§ 8 to 10 of the Telemedia Act (TMG).


        <br><br><strong>Accountability for links</strong> <br> Responsibility for the content of external links (to web pages of third parties) lies solely with the operators of the linked pages. No violations were evident to us at the time of linking.
        Should any legal infringement become known to us, we will remove the respective link immediately.


        <br><br><strong>Copyright</strong><br> Our web pages and their contents are subject to German copyright law. Unless expressly permitted by law, every form of utilizing, reproducing or processing works subject to copyright protection on our web
        pages requires the prior consent of the respective owner of the rights. Individual reproductions of a work are only allowed for private use. The materials from these pages are copyrighted and any unauthorized use may violate copyright laws.

        <br><br>

        <i>Source: </i><a href="http://www.translate-24h.de" target="_blank">Englisch-Übersetzungsdienst translate-24h</a> <br><br>
        <br>
        <a href="docs/Documentation/documentation.html" class="documentation">Documentation</a>
    </div>
</body>

</html>